@import @fortawesome/fontawesome-free/scss/fontawesome.scss
@import @fortawesome/fontawesome-free/scss/fa-solid.scss
@import ../../styles/common

.items-wrapper
  .canvas
    background-color: $white
    border: 1px solid $orange
    flex: 1
    width: 80vw
    height: 80vw
    border-radius: 50%
    overflow: hidden
    margin: auto
    margin-top: 60rpx

  .bottom-tab
    background-color: $orange
    flex: none
    height: 10vh
    width: 100%
    position: fixed
    bottom: 0
    left: 0

    .swiper-for-menus
      display: flex

      .icon-wrapper
        align-items: center
        display: flex
        flex: 1
        justify-content: center

        @for $var from 1 through 4
          &:nth-child(#{$var})
            .menu-item
              animation-delay: #{($var - 1) * 0.1}s

      .menu-item
        +animate((name: up-float))

        align-items: center
        background-color: transparent
        border-radius: 50%
        color: darken($text-light-primary, 5%)
        display: flex
        height: 12vw
        justify-content: center
        margin: 0
        padding: 0
        transition: all 0.2s
        width: 12vw

      .menu-item-hover
        background-color: darken($orange, 5%)

      .fas
        display: block
        font-size: 26px
        text-shadow: 1px 1px 0 transparentize($black, 0.9)
